.classpath
.project
.settings/
.vimrc
.vagrant/
npm-debug.log
grails-app/conf/LocalConfig.groovy
logs/**
target-eclipse/
target/
dump/*
web-app/temp/**
temp/**
billaway_p.*
temp/*
user-content/*
web-app/ng/app/styles/stylesheets/**
temp-file/*
plugins/rest-client-builder**
plugins/release-**
web-app/images/healthcare/**
web-app/ng/log.txt
web-app/user-content/*
web-app/ng/app/scripts/partner-json.js
dump/**
grails-app/views/template-cache/*

web-app/ng/app/scripts/auto-responder
web-app/ng/app/scripts/email-template
web-app/ng/app/scripts/lead
web-app/ng/app/scripts/list
web-app/ng/app/views/auto-responder
web-app/ng/app/views/email-template
web-app/ng/app/views/lead
web-app/ng/app/views/lead-list
web-app/ng/app/views/system-email
